<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>
    
    
    <div class="container">
      <div class="row">
        
        <div class="projects-detail">
           <img src="/images/<%= project.image %>" />
            <h1 style="font-size: 40px;" ><%= project.title %> </h1>
            <p><%= project.body %></p>
        </div>
        

      </div>
    </div>

    <%- include('footer'); -%>

  </body>
</html>